@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --lightgrey: #dddddd;
    --darkblue: #09192A;
    --lightblue: #225081;
}

*{
    padding: 0;
    margin: 0;
}

p ,h1 ,h2 ,span, li, th, td, input ,button{
    color: #111; 
    line-height: 1; 
    font-family: 'roboto', sans-serif;
}

a:link{
    text-decoration: none;
}

th, button{
    font-weight: bold;
}

hr {
    border: none;
	border-bottom: 1px solid black;
    box-shadow: 1px 2px 10px #161616;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header{
    /* border: 1px solid red; */

    background-color: var(--darkblue);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    /* border: 1px solid black; */

    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

nav ul{
    /* border: 1px solid black; */

    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 12px;
    margin-right: 5px;
}

nav ul li{
    display: flex;
    align-items: center;
    color: white;
}

#nav-inner-ul a{
    color: white;
}

nav li:nth-child(1){
    margin-right: 25px;
}

nav ul i{
    font-size: 20px;
    color: white;
}

nav h1{
    color: white;
    font-family: sans-serif;
}

.bxs-user{
    background-color: #225081;
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}

/* SIDEBAR */

.sidebar-section{
    background-color: var(--darkblue);
    width: 300px;
    height: auto;
}

.sidebar li{
    font-family: sans-serif;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebar ul:nth-child(2){
    background-color: var(--lightblue);
}

.sidebar li{
    /* border: 1px solid black; */
    padding: 20px 25px;
    color: white;
    font-weight: bold;
}


/* body content */

.content{
    width: 100%;
    height: auto;
    padding: 55px 40px 130px 40px;
    display: flex;
    flex-direction: column;
}

.content-header{
    display: flex;
    margin-bottom: 5px;
}

.content-header h1{
    font-size: xx-large;
}

.div-h1{
    font-weight: bold;
    font-size: 40px;
}

.content-header h2{
    font-size: large;
}

/* Content Top Section */
.top-section{
    /* border: 1px solid red; */

    margin: 35px 0;
}

.top-section-header h1{
    font-size: large;
    margin-bottom: 5px;
}

.top-section-header hr{
    z-index: 10;
}

.top-section-content{
    /* border: 1px solid green; */

    height: auto;
    margin: 10px;
}

.top-section-content ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.top-section-content ul input{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
} 

select {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.table-container{
    /* border: 1px solid red; */

    margin-top: 6px;
    width: 100%;
    height: auto;
}

.table-container table{
    width: 100%;
}

table, th, td{
    /* border: 1px solid black; */
    border-bottom: 1px solid var(--lightgrey);
    border-collapse: collapse;
}

tr:nth-child(even){
    background: var(--lightgrey);
}

tr:nth-child(odd){
    background: white;
}

th, td{
    padding: 5px;
    text-align: left;
}

.top-section-footer{
    width: 100%;
    /* padding: 10px; */
}

.top-section-footer-container{
    width: 100%;
}

.top-section-footer-container ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    align-items: center;
}

.top-section-footer-container ul button{
    border: 1px;
    padding: 8px 15px;
}

.top-section-footer-container ul button:hover{
    background-color: lightblue;
}

@media (max-width: 768px) {
    .sidebar-section{
        display: none;
    }
}
